<div class="section vinyl-section">
    <div class="header">I'm currently listening to:</div> <br>
    <div class="subcard"> <div class="coverflow" id="coverflow"> <div id="carousel" class="carousel">
      
      <div class="cover" data-album="Ethereal"><img src="./album cover/doja.webp" alt="Ethereal Album Cover"><div class="reflection"><img src="./album cover/doja.webp" alt=""></div></div>
      
      <div class="cover" data-album="Inner Speaker"><img src="./album cover/inner.webp" alt="Inner Album Cover"><div class="reflection"><img src="./album cover/inner.webp" alt=""></div></div>
      <div class="cover" data-album="Icarus Falls"><img src="./album cover/icarus falls.webp" alt="Icarus Falls Album Cover"><div class="reflection"><img src="./album cover/icarus falls.webp" alt=""></div></div>
      <div class="cover" data-album="Astroworld"><img src="./album cover/astroworld.webp" alt="Astroworld Album Cover"><div class="reflection"><img src="./album cover/astroworld.webp" alt=""></div></div>
      
      <div class="cover" data-album="The Social Network"><img src="./album cover/zuc.webp" alt="Zuc Album Cover"><div class="reflection"><img src="./album cover/zuc.webp" alt=""></div></div>
      <div class="cover" data-album="Rusoh"><img src="./album cover/rusoh.webp" alt="Rusoh Album Cover"><div class="reflection"><img src="./album cover/rusoh.webp" alt=""></div></div>
      <div class="cover" data-album="Inner Speaker"><img src="./album cover/inner.webp" alt="Inner Speaker Album Cover"><div class="reflection"><img src="./album cover/inner.webp" alt=""></div></div>
      <div class="cover" data-album="Zushi"><img src="./album cover/zushi.webp" alt="Zushi Album Cover"><div class="reflection"><img src="./album cover/zushi.webp" alt=""></div></div>
      <div class="cover" data-album="Jack Ü"><img src="./album cover/jacku.webp" alt="Jack Ü Album Cover"><div class="reflection"><img src="./album cover/jacku.webp" alt=""></div></div>
      <div class="cover" data-album="Flume"><img src="./album cover/flume.webp" alt="Flume Album Cover"><div class="reflection"><img src="./album cover/flume.webp" alt=""></div></div>
      <div class="cover" data-album="AT.LONG.LAST.A$AP"><img src="./album cover/asap.webp" alt="AT.LONG.LAST.A$AP Album Cover"><div class="reflection"><img src="./album cover/asap.webp" alt=""></div></div>
      <div class="cover" data-album="Rodeo"><img src="./album cover/rodeo.webp" alt="Rodeo Album Cover"><div class="reflection"><img src="./album cover/rodeo.webp" alt=""></div></div>
      <div class="cover" data-album="I LAY DOWN MY LIFE FOR YOU"><img src="./album cover/I LAY DOWN MY LIFE FOR YOU.jpg" alt="JPEGMAFIA Album Cover"><div class="reflection"><img src="./album cover/I LAY DOWN MY LIFE FOR YOU.jpg" alt=""></div></div>
      <div class="cover" data-album="Semoga Dipermudahkan"><img src="./album cover/semoga dipermudahkan.webp" alt="Semoga Dipermudahkan Album Cover"><div class="reflection"><img src="./album cover/semoga dipermudahkan.webp" alt=""></div></div>
      <div class="cover" data-album="Never Enough"><img src="./album cover/never enough.webp" alt="Never Enough Album Cover"><div class="reflection"><img src="./album cover/never enough.webp" alt=""></div></div>
      
  </div> </div> </div> <div id="album-info"></div> </div> 